version: 2.1

jobs:
  Build_client:
    docker:
      - image: node:latest
    steps:
      - checkout
      - run:
          name: Build client Project
          command: |
            cd client/ && npm install --force && npm run build
  
  Test_client:
    docker:
      - image: node:latest
    steps:
      - checkout
      - run:
          name: Test client Project
          command: |
            cd client/ && npm install --force && npm run test

  Build_server:
    docker:
      - image: node:latest
    steps:
      - checkout
      - run:
          name: Build server Project
          command: |
            cd server/ && npm install --force && npm run build
  
  Test_server:
    docker:
      - image: node:latest
    steps:
      - checkout
      - run:
          name: Test server Project
          command: |
            cd server/ && npm install --force && npm run build && npm i pm2 && npm run test

  Send_client_File:
    docker:
      - image: node:latest
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - ${SSH_FINGERPRINT}
      - run:
          name: Install client Dependencies
          command: | 
            cd client/ && npm install --force  
      - run:
          name: Build client Project
          command: |
            cd client/ && npm run build
      - run:
          name: Check if client Build Folder Already Exists in server
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "sudo rm -rf ${PROJECT_NAME}"
      - run:
          name: Send client Files to server
          command: |
            cd client/ && scp -o StrictHostKeyChecking=no -r ${PROJECT_NAME}/ ${SSH_USER}@${VM_IP}:/home/${SSH_USER}/
      - run:
          name: Check if Already Exists in Nginx Static Folder
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "sudo rm -rf /var/www/html/${PROJECT_NAME}"
      - run:
          name: Move Files to Nginx Static Folder
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "sudo mv /home/${SSH_USER}/${PROJECT_NAME} /var/www/html/"

  Send_server_File:
    docker:
      - image: node:latest
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - ${SSH_FINGERPRINT}
      - run:
          name: Install server Dependencies
          command: |
            cd server/ && npm install --force
      - run:
          name: Build server Project
          command: |
            cd server/ && npm run build
      - run:
          name: Check if Backend Build Folder Already Exists in server
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "sudo rm -rf ${PROJECT_NAME}"
      - run:
          name: Send server Files to server
          command: |
            cd server/ && scp -o StrictHostKeyChecking=no -r ${PROJECT_NAME}/ ${SSH_USER}@${VM_IP}:/home/${SSH_USER}/
      - run:
          name: Install Dependencies
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "cd /home/${SSH_USER}/${PROJECT_NAME} && npm install --force"
      - run:
          name: Add Environment Variables
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "\
            cd /home/${SSH_USER}/${PROJECT_NAME} && \
            echo 'PORT=${PORT}' > .env && \
            echo 'CPU_COUNT_MULTIPLIERENV=${CPU_LENGTH}' >> .env && \
            echo 'CORS_ORIGIN=${API_ALLOWED_URL}' >> .env && \
            echo 'JWT_SECRET=${JWT_SECRET}' >> .env && \
            echo 'MONGODB_URL=${MongoDB_URL}' >> .env"
      - run:
          name: Check if Pm2 Already Has the Process Running if Yes then delete it
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "if pm2 list | grep -q '${PROJECT_NAME}'; then pm2 delete ${PROJECT_NAME}; else echo 'Process not found'; fi"
      - run:
          name: Start server
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "cd ${PROJECT_NAME} && npm start"
      - run:
          name: Save The Pm2 Process for Restart
          command: |
            ssh -o StrictHostKeyChecking=no ${SSH_USER}@${VM_IP} "cd ${PROJECT_NAME} && sudo pm2 startup && pm2 save"
 
  Push_To_Gitlab:
    docker:
      - image: node:latest
    steps:
      - checkout
      - run:
          name: Add Gitlab Remote URL
          command: git remote add gitlab ${GITLAB_REPO_URL}
      - run:
          name: Configure GitLab Credentials
          command: |
            git config --global credential.helper store
            echo "https://oauth2:${GITLAB_PERMANENT_ACCESS_TOKEN}@gitlab.com" > ~/.git-credentials
            git config --global user.email "${OWNER_EMAIL}"
            git config --global user.name "${OWNER_NAME}"
      - run:
          name: Push to Gitlab
          command: |
            git push gitlab

workflows:
  version: 2
  Build_Publish:
    jobs:
      - Build_client:
          name: Build client Side
          filters:
            branches:
              only: main
      - Build_server:
          name: Build server Side
          filters:
            branches:
              only: main
      - Test_client:
          name: Test client Side
          requires:
            - Build client Side
          filters:
            branches:
              only: main
      - Test_server:
          name: Test server Side
          requires:
            - Build server Side
          filters:
            branches:
              only: main
      - Send_client_File:
          name: Setup client server
          requires:
            - Test client Side
          filters:
            branches:
              only: main
      - Send_server_File:
          name: Setup NodeJS server
          requires:
            - Setup client server
          filters:
            branches:
              only: main
      - Push_To_Gitlab:
          name: Publish to Gitlab
          requires:
            - Setup NodeJS server
            - Setup client server
          filters:
            branches:
              only: main
